/* Design fix because of the header */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
  overflow: hidden;
  font-family: Roboto, Helvetica, sans-serif;
  background: #444444;
  margin: 3px;
}

.book .book-header h1 a, .book .book-header h1 a:hover {
  display: none;
}

.book-summary, .book-body {
  margin-top: 55px;
}

.book .book-summary ul.summary li.active > a,
.book .book-summary ul.summary li a:hover {
  color: #fff !important;
}

#spacer {
  margin-top: 40px;
}


#logo {
  display: block;
  float: left;
  left: 50%;
  color: #fff;
  width: 12%;
  line-height: 40px;
}

#logo img {
  width: 62px;
  margin-top: 0px;
  margin-left: 407%;
}

.wrap {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

#header {
  display: block;
  width: 100%;
  height: 50px;
  background: #444;
}


#header .wrap,
#header .wrap .clearfix {
  max-height: 50px;
}

.absolute{
  position: absolute;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}

