/* Highlight Summery */
.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active > a {
    background: #444444;
    color: white;
    text-decoration: none;
}

/* Header */
#logo {
    color: #fff;
    display: block;
    line-height: 40px;
    margin-left: 50%;
    width: 12%;
}

#logo img {
  margin-top: 0px;
  margin-left: 114px;
}

.logo_rubyfu {
height: 50px;
width: 67px;"
}

.wrap {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

#header {
  display: block;
  width: 100%;
  height: 50px;
  background: #444;
}


