div.example_show_button {
  border: medium solid lightgray;
  text-align: center;
  position: relative;
  top: -10px;
}

.book .book-body .navigation.navigation-next {
  right: 10px !important;
}

.book .book-summary ul.summary li.active>a,.book .book-summary ul.summary li a:hover {
  color: #fff !important;
  background: #444444 !important;
  text-decoration: none;
}

.book .book-body .page-wrapper .page-inner section.normal .deprecated{
  background-color: rgba(240,240,0,0.4);
}
